section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-text{
    position: relative;
    text-align: center;
    top: 80px;
}

.profile-main{
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 150px;
    top: 30px;
}

.profile-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
    top: 50px;
}

.input-box{
    display: flex;
    flex-direction: column;
}

.input-box label{
    display: flex;
    font-size: 14px;
}

.input-box input{
    width: 100%;
    padding: 8px;
}

.button-box{
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.button-box button{
    padding: 5px 15px;
}