@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.head {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: rgba(4, 29, 25, 0.8); /* Negro con 80% de opacidad */
    position: fixed;
    width: 100%;
    z-index: 100;
}

h1 {
    color: #fff;
    margin-left: 10px;
}

.navbar {
    display: flex;
    margin-right: 40px;
    padding: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
    z-index: 2;
}

.logo {
    width: 10%;
    margin-left: 0px;
    border-radius: 50px;
}


.navbar a {
    display: inline-block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: normal;
    font-weight: bold;
    text-align: left;
}

.navbar a:hover {
    background: #194d4d;
    border-radius: 50px;
}
.user-menu {
    display: flex;
    align-items: center;
    position: relative; /* Para posicionar el dropdown relativo a este contenedor */
}

.username {
    color: #fff;
    margin-right: 10px;
    font-size: 14px;
}


.carousel {
    width: 100%;
    height: 70vh; 
    position: relative;
}

.carousel-inner {
    display: flex;
    width: 100%; /* 100% por cada imagen */
    height: 100%; /* Cambiado a 100% para ocupar toda la altura del contenedor */
    animation: slide 9s infinite;
}

.carousel-item {
    width: 100%;
    flex: 1 0 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%; /* Cambiado a 100% para ocupar toda la altura del contenedor */
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    33% { transform: translateX(0%); }
    36% { transform: translateX(-100%); }
    69% { transform: translateX(-100%); }
    72% { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}

.header {
    display: flex;
    align-items: center;
    height: 60vh;
    background-size: cover;
}

.title {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: hsl(198, 28%, 84%);
    position: relative;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #2c2a2a;
    padding: 0 100px;
}


.content {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.contenedor {
    height: 73 vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #bdd8d7;
}


.price {
    
    background: url(./img/header.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}


.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 27%, 65%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
    text-align: justify;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Clients */

.comentarios{
    display: flex;
    justify-content: space-evenly;
}

.comentarios .comentario{
    background: #2f617c;
    display: flex;
    width: 60%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.comentarios .comentario img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.comentarios .comentario > .contenido-texto-comentario{
    width: 60%;
    color: #fff;
}

.comentarios .comentario  > .contenido-texto-comentario p{
    font-weight: 300;
    padding-top: 5px;
}

footer {
    width: 100%;
    height: 80%;
    background-color: rgba(17, 85, 74, 0.8);
    animation-name: firstAnim;
    animation-duration: 3s;
    animation-iteration-count: 10;
    padding: 20px 0;
    text-align: center;
}
 
footer p{
    color: #000000;
}
@keyframes firstAnim {
    from { background-color: rgb(12, 32, 12); }
    to { background-color: rgba(10, 66, 55, 0.8); }
}

.redes-sociales {
    margin-bottom: -20px;
}

.redes-sociales a {
    display: inline-block;
    margin: 0 20px;
}

.redes-sociales img {
    width: 40px;
    height: 40px;
}

@media (max-width: 1200px) {
    .navbar {
        margin-right: 0;
    }

    .head {
        flex-direction: column;
        height: auto;
    }

    .navbar a {
        padding: 10px 15px;
        font-size: 12px;
    }

    .logo {
        width: 20%;
    }
}

@media (max-width: 768px) {
    .head {
        flex-direction: column;
        height: auto;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .carousel {
        height: 50vh; /* Ajustar la altura para dispositivos móviles */
    }

    .content {
        padding: 20px;
    }

    p {
        padding: 0 20px;
        font-size: 16px;
    }

    .box-container {
        flex-direction: column;
        align-items: center;
    }

    .box-container .box {
        width: 80%; /* Ajustar el ancho para dispositivos móviles */
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    .navbar a {
        font-size: 10px;
        padding: 5px 10px;
    }

    .logo {
        width: 30%;
    }

    .carousel {
        height: 40vh; /* Ajustar la altura para dispositivos móviles */
    }

    .box-container .box {
        width: 90%;
    }
}